<AdminRoomEditComponent Room="@Room" @ref="EditModal"></AdminRoomEditComponent>
<AdminRoomDeleteComponent Room="@Room" @ref="DeleteModal"></AdminRoomDeleteComponent>


<tr>
    <td>@Room.Id</td>
    <td>@Room.RoomType</td>
    <td>@Room.MaxPeople</td>
    <td style="color: @(Room.VacancyToday ? "green" : "red")">
        @(Room.VacancyToday ? "Available" : "Occupied")
    </td>
    <td>@Room.Price</td>
    <td>
        <button class="btn btn-primary editRoomBtn" @onclick="() => EditModal.Open()">Edit</button>
        |
        <button class="btn btn-danger deleteRoomBtn" @onclick="() => DeleteModal.Open()">Delete</button>
    </td>
</tr>