@using Containers
@using DomainModels
@inject Containers.RoomInfoStateContainer myStateContainer
@page "/booking";

<PageTitle>Hotel H2</PageTitle>

<h1 class="PageTitle">Booking</h1>

<a href="roomlist" class="button">Back</a>
@if (AccountSession.CustomerSession != null)
{
    <br />

    <div class="container">

        @if (ChooseDate == true)
        {
            <div id="ChooseBooking">
                <EditForm Model="@inputBooking">

                    <h2 style="width: 100%; padding: 10px; margin: 8px 0; color: white;">Room @inputBooking.Room.Id</h2>

                    <InputDate min="@DateTime.Now.ToString("yyyy-MM-dd")" @bind-Value="inputBooking.StartDate" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" required></InputDate>

                    <InputDate min="@DateTime.Now.ToString("yyyy-MM-dd")" @bind-Value="inputBooking.EndDate" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" required></InputDate>

                    <button @onclick="() => DatesChosen()">Next</button>

                    <p class="error-message" id="signup-error"></p>

                </EditForm>
            </div>
        }
        @if (ChooseAddress == true)
        {
            <div id="ChooseBooking">
                <EditForm Model="@inputCustomer.Address">

                    <h2 style="width: 100%; padding: 10px; margin: 8px 0; color: white;">Address</h2>

                    <InputText @bind-Value="inputCustomer.Address.Country" placeholder="Country" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" required />
                    <InputText @bind-Value="inputCustomer.Address.address" placeholder="Street address" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" required />
                    <InputText @bind-Value="zipcode" placeholder="Postal code" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" required />
                    <InputText @bind-Value="inputCustomer.Address.City" placeholder="City" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" required />

                    <button @onclick="() => AddressChosen()">Next</button>

                    <p class="error-message" id="signup-error"></p>

                </EditForm>
            </div>
        }
        @if (ChooseCreditcard == true)
        {
            <div id="ChooseBooking">
                <EditForm Model="@inputCustomer.CreditCardInfo">

                    <h2 style="width: 100%; padding: 10px; margin: 8px 0; color: white;">Payment</h2>

                    <InputText @bind-Value="inputCustomer.CreditCardInfo.NameOnCard" placeholder="Name on card" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" required></InputText>
                    <InputText type="number" @bind-Value="cardnumber" placeholder="Card number" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" required></InputText>
                    <InputDate min="@DateTime.Now.ToString("yyyy-MM-dd")" @bind-Value="inputCustomer.CreditCardInfo.ExpirationDate" style="width: 100%; padding: 10px; margin: 8px 0; border: 1px solid #ccc; border-radius: 3px; box-sizing: border-box;" required></InputDate>
                    <button @onclick="() => CreditCardChosen()">Next</button>

                    <p class="error-message" id="signup-error"></p>

                </EditForm>
            </div>
        }


    </div>

    <br />
    <br />
    <br />
}
else
{
     <h2>you are not logged in</h2>
}
@if (isPopupVisible)
{
    <Popup popupText="Booking Confirmed!" />
}



