@page "/roominfo"

<PageTitle>Hotel H2</PageTitle>

@inject Containers.RoomInfoStateContainer myStateContainer

<a href="roomlist" class="button">Back</a>

<br />

<h3>Room @room.Id - @room.RoomType</h3>

<div id="container">
    
    <div class="slideshow-container">
        <button class="arrow arrow-left" @onclick="PreviousImage">&lt;</button>
        <img src="@room.Pictures[currentIndex].PictureURL" alt="Slideshow Image" />
        <button class="arrow arrow-right" @onclick="NextImage">&gt;</button>
    </div>

    <div class="variables">
        <br />
        <br />
        <h5> Cost per night: @room.Price Kr</h5>
        <br />
        <h5>Max people: @room.MaxPeople</h5>
        <br />
        <h5>availability: @room.VacancyToday</h5>
    </div>
</div>