@inject NavigationManager navigationManager
@inject Containers.RoomInfoStateContainer RoomInfoStateContainer
@implements IDisposable

<div class="containerCard p-4 card">
    <div class="VariableBox">
        <div>
            <img class="roomImage" src="@Room.Pictures[0].PictureURL" />
        </div>
        <div class="TypePriceMaxPeople">
            <div>
                <h4 class="items">@Room.RoomType Room</h4>
            </div>
            <div>
                <h5 class="headlines">Price</h5>
                <p class="items">@Room.Price kr </p>
            </div>
            <div>
                <h5 class="headlines">Room for</h5>
                <p class="items">@Room.MaxPeople People</p>
            </div>
        </div>
        <div>
            <div class="VacancyAndButton">
                <p class="vacancy" style="opacity: @(Room.VacancyToday ? 1 : 0)">
                    ✨Available Today✨
                </p>
                <div class="buttons">
                    <a @onclick="() => HandleButton()" class=" button" href="roominfo"> Details </a>
                    <a class="button" href="Booking"> Book! </a>
                </div>
            </div>
        </div>
        
    </div>

</div>